    {% extends "layout.html" %}
    {% block body %}
        <div class = "jumbotron text-center">
        <h3> Yazılım Bilimi Bloğuna HoşGeldinizz..</h3>

        <p>
        
            Sıfırdan İleri Seviyeye Python ve Programlama öğrenmenin tadını çıkarın.

            Bu kursta sıfırdan Python ve programlamanın temellerini öğrenerek , ileri seviyelere kadar Python'ın tüm güzelliklerini beraber görmeye başlayacağız. Eğer programlama hakkında hiçbir fikriniz yoksa bu kurs tam size göre!

            Kursun Yapısı

            Kurs boyunca her bölümde;

            Bölümlerde öğrendiğimiz bilgilerin kalıcı olması için kodlama egzersizlerimizi gerçekleştireceğiz.
            Bölümlerdeki konuların hepsini kapsayan ödevlerimizi yapacağız.
            Daha önceden öğrendiğimiz bilgilerle projeler geliştireceğiz.
            Ayrıca her konuyla ilgili  çalışma dokümanlarına sahip olacaksınız.
        <p>
        
        </div>

       
        
    {% endblock body %}